version: '3.8'
services:
  app:
    build: .
    ports:
      - 5000:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Host=db;Database=managore;Username=dev;Password=dev
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: managore
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
